*
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/*full  websites arias finish*/

.logo-img
{
    width: 80.041px;
    height: 35px;

}

.logo
{
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    align-items: center;
    
}

.logo-name
{
    color: #FF42A5 ;
     
}
 
/*logo section is finishd*/

.nav-sections
{
    width: 1536px;
    height: 130px;
    border: none;
    padding: 44px 200px;  
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav
{
    display: flex;
    justify-content: space-between;
}

nav ul
{
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.li-design
{
    width: 250px;
    height: 56px;
    border: none;
    text-align: center;
    padding-top: 15px;
    background: #0b02231a;
    border-radius: 8px;
   
}
li a
{
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   color: #3C354F;
   
}
.icons-li
{
    align-items: center;
    margin: 10px;

}

/*nav header is finish*/

.containers-heading-1
{
    font-size: 48px;
    font-weight: 600;
    color:#0B0223;
}

.containers-heading-2
{
   font-size: 95px;
   font-weight: 800; 
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
li a
{
    font-size: 20px;
    font-weight: 500;
    color:#534C64;
    text-decoration: none;
    gap: 20px;

    
}

.header-btn-1
{
    margin-top: 20px;
    width: 156px;
    height: 65px;
    font-size: 20px;
    font-weight: 600;
    color:#fff;
    background:#FF42A5;
    border: none;
    border-radius: 48px;
}
.header-btn-2
{
    margin-top: 20px;
    width: 185px;
    height: 65px;
    font-size: 20px;
    font-weight: 600;
    color:#fff;
    background: #4EC5F7;
    border: none;
    border-radius: 48px;
    margin-left: 20px;
}

/*header design is finish*/

.header-containers
{
    background: url("images/Group\ 14.png");
    background-size: 750px 600px;
    background-repeat: no-repeat;
    display: flex;
    gap: 180px;
    align-items: center;
}
.container-1
{
    margin-left: 200px;
    text-align: left;

}
.img-banner
{
    width: 650px;
    height: 550px;

}

/*heading section is finish*/

.container-2-heading
{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}
.container-2-pera
{
    color: #534C64;
    font-size: 18px;
    font-weight: 400; 
    margin-top: 20px; 
}
.container-2-btn
{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background:#FF42A5;
    border-radius: 48px;
    width: 208px;
    height: 65px;
    margin-top: 20px;
}
.heading-2-span
{
    margin-top: 20px;
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}
.container-2-heading-2
{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;

}
.main-container-2
{
    text-align: right;
    
}
.section-1
{
    display: flex;
    align-items: center;
    gap: 50px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.img-main
{
    margin-left: 100px;
    width: 700px;
    height: 550px;
}
















/* devices responsive*/
@media screen and (max-width:576px) {
    

    nav 
    {
        flex-direction: column;
        
    }
    .nav-sections
    {
        width: auto;
        height: 350px;
        padding: 40px 90px;
    }
    nav ul 
    {
        flex-direction: column;
        margin-top:20px;
        margin-right: auto;
    }
    
    .header-containers
    {
        background-size: 400px 500px;
        align-items: center;
       flex-direction: column;
       
        
    }
    .container-1
    {
        margin-left: 20px;
        margin-top: 70px;
    }
    .nav-sections
    {
    
        padding: 44px 80px;  
      
    }

    .img-banner
    {
        width: 400px;
        height: 400px;
        margin-left: 10px;
       
    
    }
    .header-btn-2
    {
        margin-left: 0;
    }

    /*heading section is finish*/

    .section-1
    {
        flex-direction: column;
    
    }

    .img-main
    {
        margin-left: 10px;
        width: 400px;
        height: 450px;
    }

    .main-container-2
    {
        text-align: center;
    }






}




@media screen and (min-width: 576px) and (max-width: 992px) {
    nav 
{
    flex-direction: column;
    
}
.nav-sections
{
    width: 768px;
    height: 350px;
    padding: 44px 90px;
}
nav ul 
{
    flex-direction: column;
    margin-top:20px;
}

.header-containers
{
    background-size: 400px 500px;
    flex-wrap: wrap-reverse;
    align-items: center;
    flex-direction: column;
    
}
.container-1
{
    margin-left: 20px;
    margin-top: 70px;
}
.nav-sections
{

    padding: 44px 260px;  
  
}
/*main section st*/


.section-1
    {
        flex-direction: column;
    
    }

    .img-main
    {
        margin-left: 10px;
        width: 550px;
        height: 500px;
    }

    .main-container-2
    {
        text-align: center;
    }






}








